:root {
  --color-bg1: rgb(22, 0, 33);
  --color-bg2: rgb(0, 4, 20);
  --color-interactive: 73, 82, 163;
  --circle-size: 80%;
  --blending: hard-light;
}
body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  color: white;
}
.test-accessibility {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}
.interactive {
  position: absolute;
  background: radial-gradient(
      circle at center,
      rgba(var(--color-interactive), 0.8) 0,
      rgba(var(--color-interactive), 0) 50%
    )
    no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  pointer-events: none;
  opacity: 0.7;
}
header {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#maincontent {
  padding: 1rem;
}
h2 {
  text-align: center;
}
.test-accessibility__content {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.098);
  margin-bottom: 2rem;
}
input {
  font-family: "Noto Sans", sans-serif;
  background: none;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 40px;
  color: white;
}
footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.212);
}
p {
  font-size: 12px;
}
